<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Category</h1>
        <hr>
    </header>

    <main>
        <div>
            {% for i in list_category %}
                <p><a href="{% url 'notebooks' i.slug %}"><button>{{ i.name }}</button></a></p>
            {% endfor %}
        </div>
    </main>
</body>
</html>